@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500&display=swap');

body {
    font-family: 'Roboto', 'IBM Plex Sans Thai', sans-serif !important;
}

.print-only {
    display: none;
}

.profile_image {
    width: 100%;
}

hr {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
}

.content-body>* {
    font-size: 14.6px;
}

.section-bottom {
    margin-bottom: 15px;
}

@media print {
    .content-body>* {
        font-size: 11.5px;
    }

    .section-bottom {
        margin-bottom: 5px;
    }

    hr {
        margin-top: 0 !important;
        margin-bottom: 3px !important;
    }

    .sub-heading {
        font-size: 16px;
    }

    .no-print {
        display: none;
    }

    .print-only {
        display: block;
    }

    .profile_image {
        width: 125px;
    }

    .sidebar-text {
        font-size: 12px;
    }
}